In [1]:
import pandas as pd
import numpy as np

# Visualization
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Configuration
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # to be able to display all columns of the DataFrames

In [2]:
df = pd.read_csv("data/coffee.csv")

In [3]:
df.head(20)

,REC_ID,Species,Continent.of.Origin,Country.of.Origin,Harvest.Year,Expiration,Variety,Color,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Moisture,Quakers,Category.One.Defects,Category.Two.Defects
0,0,Arabica,Africa,Ethiopia,2014.0,04/03/16,NaN,Green,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.0,10.00,0.12,0,0,0
1,1,Arabica,Africa,Ethiopia,2014.0,04/03/16,Other,Green,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.0,10.00,0.12,0,0,1
2,2,Arabica,North America,Guatemala,NaN,05/31/11,Bourbon,NaN,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.00,10.0,10.00,0.00,0,0,0
3,3,Arabica,Africa,Ethiopia,2014.0,03/25/16,NaN,Green,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.0,10.00,0.11,0,0,2
4,4,Arabica,Africa,Ethiopia,2014.0,04/03/16,Other,Green,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.0,10.00,0.12,0,0,2
5,5,Arabica,South America,Brazil,2013.0,09/03/14,NaN,Bluish-Green,Natural / Dry,8.58,8.42,8.42,8.50,8.25,8.33,10.00,10.0,10.00,0.11,0,0,1
6,6,Arabica,South America,Peru,2012.0,09/17/13,Other,Bluish-Green,Washed / Wet,8.42,8.50,8.33,8.50,8.25,8.25,10.00,10.0,10.00,0.11,0,0,0
7,7,Arabica,Africa,Ethiopia,2010.0,09/02/11,NaN,NaN,NaN,8.25,8.33,8.50,8.42,8.33,8.50,10.00,10.0,9.33,0.03,0,0,0
8,8,Arabica,Africa,Ethiopia,2010.0,09/02/11,NaN,NaN,NaN,8.67,8.67,8.58,8.42,8.33,8.42,9.33,10.0,9.33,0.03,0,0,0
9,9,Arabica,Africa,Ethiopia,2014.0,03/29/16,Other,Green,Natural / Dry,8.08,8.58,8.50,8.50,7.67,8.42,10.00,10.0,10.00,0.10,0,0,4
10,10,Arabica,Africa,Ethiopia,2014.0,03/26/16,NaN,NaN,Natural / Dry,8.17,8.67,8.25,8.50,7.75,8.17,10.00,10.0,10.00,0.10,0,0,1
11,11,Arabica,North America,United States,2014.0,03/12/16,Other,NaN,Washed / Wet,8.25,8.42,8.17,8.33,8.08,8.17,10.00,10.0,10.00,0.00,0,0,0
12,12,Arabica,North America,United States,2014.0,03/12/16,Other,NaN,Washed / Wet,8.08,8.67,8.33,8.42,8.00,8.08,10.00,10.0,10.00,0.00,0,0,0
13,13,Arabica,North America,United States,2009.0,05/31/11,NaN,NaN,NaN,8.33,8.42,8.08,8.25,8.25,8.00,10.00,10.0,10.00,0.00,0,0,2
14,14,Arabica,Africa,Ethiopia,2010.0,08/31/11,NaN,NaN,NaN,8.25,8.33,8.50,8.25,8.58,8.75,9.33,10.0,9.33,0.05,0,0,2
15,15,Arabica,North America,United States,2014.0,03/12/16,Other,NaN,Washed / Wet,8.00,8.50,8.58,8.17,8.17,8.00,10.00,10.0,10.00,0.00,0,0,0
16,16,Arabica,Asia,Indonesia,NaN,05/31/11,NaN,NaN,NaN,8.33,8.25,7.83,7.75,8.50,8.42,10.00,10.0,10.00,0.03,0,0,0
17,17,Arabica,Africa,Ethiopia,2009.0,06/16/11,NaN,NaN,NaN,8.17,8.33,8.25,8.33,8.42,8.33,9.33,10.0,9.33,0.05,0,0,2
18,18,Arabica,Asia,China,2015.0,04/07/17,Catimor,Green,Washed / Wet,8.42,8.25,8.08,8.17,7.92,8.00,10.00,10.0,10.00,0.10,0,0,0
19,19,Arabica,Africa,Ethiopia,2014.0,03/24/16,Ethiopian Yirgacheffe,NaN,Natural / Dry,8.17,8.17,8.00,8.17,8.08,8.33,10.00,10.0,10.00,0.00,0,0,8

In [4]:
# Cantidad de filas y columnas:
print(f"El número de filas que tenemos es {df.shape[0]}, y el número de columnas es {df.shape[1]}.")

El número de filas que tenemos es 1339, y el número de columnas es 22.

In [5]:
# Function to view the complete Dataframe information:
def get_csv_info(csv):
   
    print("CSV Information:\n")
    print("-----------------------------------------------------------------------")
    df.info()
    print("-----------------------------------------------------------------------")
    
    print("\nColumn Names:")
    print("-----------------------------------------------------------------------")
    print(df.columns)
    print("-----------------------------------------------------------------------")
    
    return 

# Function to view duplicate and null values in the Dataframe.
def check_duplicates_and_nulls(csv):
    # Check for duplicates
    duplicate_count = df.duplicated().sum()
    print(f"Number of duplicate rows: {duplicate_count}")
    print("-----------------------------------------------------------------------")
    
    # Check for null values
    print("\nNumber of null values per column:")
    print("-----------------------------------------------------------------------")
    print(df.isna().sum())
    print("-----------------------------------------------------------------------")
    print(f"This makes a tota of {df.isna().sum().sum()} null values.")

    return

# Function to view the descriptions of the numerical and categorical columns of the Dataframe.
def describe_dataframe(csv):
    # Describe numerical columns
    print("Numerical Columns Description:\n")
    print("-----------------------------------------------------------------------")
    print(df.describe().T)
    print("-----------------------------------------------------------------------")
    
    # Describe categorical columns
    print("\nCategorical Columns Description:\n")
    print("-----------------------------------------------------------------------")
    print(df.describe(include=['object']).T)
    print("-----------------------------------------------------------------------")
    
    return 

# Function to analyze the categorical columns of the dataframe.
def analyze_categorical_columns(csv):
    # Select categorical columns
    df_cat = df.select_dtypes(include="object")
    
    # Get the names of the categorical columns
    categorical_columns = df_cat.columns
    print(f"The categorical columns in the DataFrame are:\n {categorical_columns}")
    
    # Iterate over each categorical column to display unique values and their frequencies
    for column in categorical_columns:
        print(f"\n----------- ANALYZING THE COLUMN: '{column.upper()}' -----------\n")
        print(f"Unique values: {df_cat[column].unique()}\n")
        print(f"Frequencies of unique values:\n{df_cat[column].value_counts()}\n")
        print("-----------------------------------------------------------------------")

# Function to find the rows that have ALL nulls of the dataframe.
def find_all_null_rows(csv):
    # Identify rows where all values are null
    all_null_rows = df[df.isnull().all(axis=1)]
    
    # Display the rows with all null values
    print("Rows with all null values:\n")
    print("-----------------------------------------------------------------------")
    print(all_null_rows)
    print("-----------------------------------------------------------------------")
    
    # Optionally, get the indices of these rows
    all_null_indices = all_null_rows.index
    print("\nIndices of rows with all null values:\n", all_null_indices.tolist())
    
    return 

# Function to find negative numbers in columns of the dataframe.
def find_negative_values(csv):
    # Select numerical columns
    num_cols_df = df.select_dtypes(include=["number"])
    
    # Initialize a list to store column names with negative values
    negative_columns = []
    
    # Iterate through each numerical column to check for negative values
    for col in num_cols_df.columns:
        if (num_cols_df[col] < 0).any():
            negative_columns.append(col)
    
    # Display columns with negative values
    print("Columns with negative values:", negative_columns)
    
    # Optionally, count the negative values in a specific column, e.g., 'adr'
    if 'adr' in df.columns:
        negative_count = (df['adr'] < 0).sum()
        print(f"Number of negative values in 'adr': {negative_count}")
    
    return


def find_zero_values(csv):
    # Select numerical columns
    num_cols_df = df.select_dtypes(include=["number"])
    
    # Initialize a list to store column names with zero values
    zero_columns = []
    
    # Iterate through each numerical column to check for zero values
    for col in num_cols_df.columns:
        if (num_cols_df[col] == 0).any():
            zero_columns.append(col)
    
    # Display columns with zero values
    print("Columns with zero values:", zero_columns)
    print("-----------------------------------------------------------------------")
    
    # Optionally, display the count of zero values in each column
    for col in zero_columns:
        dtype = num_cols_df[col].dtype
        zero_count = (df[col] == 0).sum()
        print(f"Number of zero values in '{col}':\n {zero_count}\n")
        print(f"The type of the value is: {dtype}")
        print("-----------------------------------------------------------------------")
    
    return

In [7]:
get_csv_info(df)

CSV Information:

-----------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1339 entries, 0 to 1338
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   REC_ID                1339 non-null   int64
 1   Species               1339 non-null   object
 2   Continent.of.Origin   1338 non-null   object
 3   Country.of.Origin     1338 non-null   object
 4   Harvest.Year          1279 non-null   float64
 5   Expiration            1339 non-null   object
 6   Variety               1113 non-null   object
 7   Color                 1069 non-null   object
 8   Processing.Method     1169 non-null   object
 9   Aroma                 1339 non-null   float64
 10  Flavor                1339 non-null   float64
 11  Aftertaste            1339 non-null   float64
 12  Acidity               1339 non-null   float64
 13  Body                  1339 non-null   float64
 14  Balance               1339 non-null   float64
 15  Uniformity            1339 non-null   float64
 16  Clean.Cup             1339 non-null   float64
 17  Sweetness             1339 non-null   float64
 18  Moisture              1339 non-null   float64
 19  Quakers               1339 non-null   int64
 20  Category.One.Defects  1339 non-null   int64
 21  Category.Two.Defects  1339 non-null   int64
dtypes: float64(11), int64(4), object(7)
memory usage: 230.3+ KB
-----------------------------------------------------------------------

Column Names:
-----------------------------------------------------------------------
Index(['REC_ID', 'Species', 'Continent.of.Origin', 'Country.of.Origin',
       'Harvest.Year', 'Expiration', 'Variety', 'Color', 'Processing.Method',
       'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance',
       'Uniformity', 'Clean.Cup', 'Sweetness', 'Moisture', 'Quakers',
       'Category.One.Defects', 'Category.Two.Defects'],
      dtype='object')
-----------------------------------------------------------------------

In [9]:
check_duplicates_and_nulls(df)

Number of duplicate rows: 1
-----------------------------------------------------------------------

Number of null values per column:
-----------------------------------------------------------------------
Species                   0
Continent.of.Origin       1
Country.of.Origin         1
Harvest.Year             60
Expiration                0
Variety                 226
Color                   270
Processing.Method       170
Aroma                     0
Flavor                    0
Aftertaste                0
Acidity                   0
Body                      0
Balance                   0
Uniformity                0
Clean.Cup                 0
Sweetness                 0
Moisture                  0
Quakers                   0
Category.One.Defects      0
Category.Two.Defects      0
dtype: int64
-----------------------------------------------------------------------
This makes a tota of 728 null values.

In [25]:
describe_dataframe(df)

Numerical Columns Description:

-----------------------------------------------------------------------
                       count         mean       std     min      25%      50%  \
Harvest.Year          1279.0  2013.567631  1.808496  2009.0  2012.00  2013.00
Aroma                 1339.0     7.566706  0.377560     0.0     7.42     7.58
Flavor                1339.0     7.520426  0.398442     0.0     7.33     7.58
Aftertaste            1339.0     7.401083  0.404463     0.0     7.25     7.42
Acidity               1339.0     7.535706  0.379827     0.0     7.33     7.58
Body                  1339.0     7.517498  0.370064     0.0     7.33     7.50
Balance               1339.0     7.518013  0.408943     0.0     7.33     7.50
Uniformity            1339.0     9.834877  0.554591     0.0    10.00    10.00
Clean.Cup             1339.0     9.835108  0.763946     0.0    10.00    10.00
Sweetness             1339.0     9.856692  0.616102     0.0    10.00    10.00
Moisture              1339.0     0.088379  0.048287     0.0     0.09     0.11
Quakers               1339.0     0.173264  0.831824     0.0     0.00     0.00
Category.One.Defects  1339.0     0.479462  2.549683     0.0     0.00     0.00
Category.Two.Defects  1339.0     3.556385  5.312541     0.0     0.00     2.00

                          75%      max
Harvest.Year          2015.00  2018.00
Aroma                    7.75     8.75
Flavor                   7.75     8.83
Aftertaste               7.58     8.67
Acidity                  7.75     8.75
Body                     7.67     8.58
Balance                  7.75     8.75
Uniformity              10.00    10.00
Clean.Cup               10.00    10.00
Sweetness               10.00    10.00
Moisture                 0.12     0.28
Quakers                  0.00    11.00
Category.One.Defects     0.00    63.00
Category.Two.Defects     4.00    55.00
-----------------------------------------------------------------------

Categorical Columns Description:

-----------------------------------------------------------------------
                    count unique            top  freq
Species              1339      2        Arabica  1311
Continent.of.Origin  1338      5  North America   665
Country.of.Origin    1338     34         Mexico   236
Expiration           1339    565       12/26/14    25
Variety              1113     29        Caturra   256
Color                1069      3          Green   870
Processing.Method    1169      5   Washed / Wet   815
-----------------------------------------------------------------------

In [26]:
analyze_categorical_columns(df)

The categorical columns in the DataFrame are:
 Index(['Species', 'Continent.of.Origin', 'Country.of.Origin', 'Expiration',
       'Variety', 'Color', 'Processing.Method'],
      dtype='object')

----------- ANALYZING THE COLUMN: 'SPECIES' -----------

Unique values: ['Arabica' 'Robusta']

Frequencies of unique values:
Species
Arabica    1311
Robusta      28
Name: count, dtype: int64

-----------------------------------------------------------------------

----------- ANALYZING THE COLUMN: 'CONTINENT.OF.ORIGIN' -----------

Unique values: ['Africa' 'North America' 'South America' 'Asia' 'Oceania' nan]

Frequencies of unique values:
Continent.of.Origin
North America    665
South America    328
Asia             182
Africa           162
Oceania            1
Name: count, dtype: int64

-----------------------------------------------------------------------

----------- ANALYZING THE COLUMN: 'COUNTRY.OF.ORIGIN' -----------

Unique values: ['Ethiopia' 'Guatemala' 'Brazil' 'Peru' 'United States' 'Indonesia'
 'China' 'Costa Rica' 'Mexico' 'Uganda' 'Honduras' 'Taiwan' 'Nicaragua'
 'Tanzania' 'Kenya' 'Thailand' 'Colombia' 'Panama' 'Papua New Guinea'
 'El Salvador' 'Japan' 'Ecuador' 'Haiti' 'Burundi' 'Vietnam' 'Philippines'
 'Rwanda' 'Malawi' 'Laos' 'Zambia' 'Myanmar' 'Mauritius' 'Cote dIvoire'
 nan 'India']

Frequencies of unique values:
Country.of.Origin
Mexico              236
Colombia            183
Guatemala           181
Brazil              132
United States        87
Taiwan               75
Honduras             53
Costa Rica           51
Ethiopia             44
Tanzania             40
Uganda               36
Thailand             32
Nicaragua            26
Kenya                25
El Salvador          21
Indonesia            20
China                16
India                14
Malawi               11
Peru                 10
Myanmar               8
Vietnam               8
Haiti                 6
Philippines           5
Panama                4
Ecuador               3
Laos                  3
Burundi               2
Papua New Guinea      1
Japan                 1
Zambia                1
Rwanda                1
Mauritius             1
Cote dIvoire          1
Name: count, dtype: int64

-----------------------------------------------------------------------

----------- ANALYZING THE COLUMN: 'EXPIRATION' -----------

Unique values: ['04/03/16' '05/31/11' '03/25/16' '09/03/14' '09/17/13' '09/02/11'
 '03/29/16' '03/26/16' '03/12/16' '08/31/11' '06/16/11' '04/07/17'
 '03/24/16' '04/02/15' '07/26/13' '12/02/12' '06/26/15' '05/18/18'
 '05/18/17' '05/18/11' '12/02/16' '05/30/15' '04/06/13' '01/28/12'
 '06/17/11' '04/12/13' '01/04/12' '06/09/16' '01/29/16' '10/01/15'
 '03/20/15' '02/06/15' '02/12/13' '05/16/17' '06/30/15' '07/26/14'
 '10/09/18' '07/03/13' '06/05/13' '06/23/18' '01/22/15' '10/25/13'
 '03/18/14' '01/12/14' '05/22/16' '03/30/16' '02/26/14' '04/06/17'
 '05/01/15' '04/19/14' '03/12/14' '04/27/17' '04/07/16' '01/17/15'
 '11/26/13' '01/17/13' '08/09/17' '08/17/16' '10/07/15' '03/10/15'
 '03/16/13' '12/27/11' '05/17/11' '07/24/18' '02/15/18' '01/30/18'
 '09/21/17' '05/07/17' '02/28/13' '04/05/12' '02/24/12' '09/07/11'
 '11/25/17' '10/25/16' '06/08/16' '12/12/15' '12/11/13' '07/11/13'
 '12/22/12' '08/26/11' '06/27/17' '06/01/16' '04/25/15' '08/22/12'
 '06/26/18' '11/24/17' '11/02/17' '10/04/17' '06/01/17' '07/05/16'
 '03/05/15' '01/03/15' '12/26/14' '12/20/14' '09/16/13' '07/17/13'
 '07/02/13' '06/13/12' '01/11/19' '01/10/18' '12/28/17' '07/21/15'
 '05/29/15' '03/24/15' '12/06/14' '08/30/14' '07/17/14' '10/09/13'
 '11/28/18' '03/14/18' '06/04/16' '06/16/15' '06/06/13' '02/15/13'
 '03/22/12' '03/21/12' '03/23/18' '01/24/17' '07/09/15' '07/10/14'
 '01/21/14' '08/03/18' '05/11/18' '02/20/18' '04/04/17' '02/15/17'
 '04/28/16' '07/19/14' '07/27/13' '10/27/12' '04/30/11' '08/10/18'
 '08/05/17' '05/23/17' '11/18/16' '08/21/15' '10/01/14' '09/11/13'
 '04/09/13' '04/02/13' '06/01/18' '08/19/17' '06/23/17' '08/02/16'
 '04/23/16' '04/09/16' '10/15/15' '07/16/15' '11/07/14' '05/20/14'
 '05/09/14' '10/19/13' '03/26/13' '05/24/18' '11/09/18' '11/05/15'
 '01/24/14' '09/04/13' '08/17/13' '06/05/18' '12/18/15' '08/08/15'
 '06/27/15' '05/27/15' '04/08/15' '01/02/15' '06/21/14' '03/08/14'
 '06/21/13' '05/31/13' '08/15/12' '10/20/18' '07/03/18' '10/18/17'
 '08/16/17' '02/10/17' '01/20/17' '11/06/16' '03/11/16' '11/23/15'
 '06/30/18' '06/06/17' '02/22/17' '10/07/16' '04/29/16' '10/16/15'
 '06/09/15' '05/22/15' '10/04/14' '04/26/14' '12/20/12' '09/19/12'
 '09/28/18' '06/06/18' '11/26/16' '02/05/15' '01/24/15' '11/22/14'
 '08/27/14' '05/02/14' '09/27/13' '05/24/13' '04/19/12' '02/09/12'
 '06/29/11' '09/01/18' '03/14/17' '11/21/15' '02/27/15' '10/29/14'
 '08/16/14' '05/30/14' '11/22/13' '08/23/13' '07/09/13' '05/23/13'
 '04/30/13' '04/20/12' '07/05/17' '04/15/17' '05/11/16' '06/24/15'
 '03/13/15' '03/21/15' '08/31/13' '01/22/13' '02/13/18' '03/16/17'
 '11/15/16' '09/13/16' '01/22/16' '08/11/15' '05/24/14' '08/30/13'
 '02/08/13' '01/31/13' '03/07/12' '11/29/11' '08/23/18' '05/10/18'
 '02/17/18' '07/21/17' '04/25/17' '01/15/16' '02/18/15' '07/16/14'
 '06/26/13' '02/01/12' '04/13/11' '05/26/11' '11/08/17' '06/15/17'
 '05/05/17' '10/11/16' '07/13/16' '07/15/15' '04/07/15' '02/25/15'
 '02/14/15' '01/21/15' '10/03/14' '08/29/13' '05/30/13' '03/07/18'
 '09/20/17' '08/12/17' '05/19/17' '01/11/17' '06/17/16' '03/07/15'
 '08/02/14' '03/29/14' '03/21/14' '08/01/13' '02/22/13' '02/21/13'
 '02/22/12' '01/17/12' '08/24/18' '06/20/18' '06/16/18' '05/08/18'
 '05/02/17' '04/05/17' '03/29/17' '10/28/16' '09/28/16' '07/02/16'
 '10/28/15' '08/25/15' '04/12/15' '03/27/15' '02/07/15' '01/31/15'
 '06/08/13' '03/19/13' '02/16/13' '05/18/16' '04/19/16' '02/19/15'
 '07/28/12' '11/11/11' '07/18/17' '12/27/16' '07/07/16' '04/22/16'
 '02/13/16' '03/15/14' '10/23/13' '05/22/13' '05/11/13' '04/27/13'
 '12/01/12' '05/11/12' '03/08/12' '08/28/18' '07/07/18' '06/28/17'
 '02/25/17' '09/06/16' '07/30/16' '07/20/16' '06/10/16' '08/15/15'
 '04/03/15' '12/27/14' '09/13/14' '03/20/14' '03/11/14' '01/22/14'
 '07/20/13' '03/05/13' '07/18/12' '10/13/18' '06/22/18' '02/06/18'
 '04/08/17' '03/25/17' '01/18/17' '07/19/16' '05/25/16' '03/20/16'
 '02/20/16' '01/20/15' '05/10/14' '01/09/19' '10/17/18' '09/19/18'
 '09/08/18' '08/22/18' '08/08/18' '04/28/18' '04/06/18' '11/07/15'
 '11/04/15' '02/04/15' '04/11/13' '06/02/17' '02/24/17' '11/02/16'
 '12/15/15' '06/25/15' '06/13/13' '11/15/12' '09/03/11' '04/19/18'
 '09/14/16' '02/15/16' '05/09/15' '04/18/15' '12/10/14' '04/16/14'
 '02/27/14' '09/04/18' '06/03/18' '04/14/15' '01/14/15' '05/07/14'
 '06/07/13' '07/23/11' '09/27/18' '01/20/18' '08/14/15' '05/08/15'
 '12/30/14' '12/12/14' '05/31/14' '09/10/13' '07/25/13' '01/30/13'
 '12/21/12' '09/21/12' '02/09/18' '10/13/17' '07/15/17' '05/17/17'
 '03/09/16' '06/10/15' '10/05/13' '11/15/18' '08/31/17' '04/14/16'
 '05/03/14' '09/19/13' '08/21/13' '02/29/12' '06/09/17' '03/15/17'
 '10/19/16' '04/10/15' '05/29/14' '08/02/13' '01/08/16' '09/12/15'
 '07/23/13' '04/17/12' '11/04/16' '10/31/15' '07/22/15' '06/20/15'
 '04/30/15' '06/03/14' '05/21/14' '06/04/13' '10/26/17' '05/04/16'
 '01/06/16' '07/29/15' '01/19/18' '08/02/17' '07/16/16' '06/24/16'
 '05/06/16' '05/16/15' '04/26/15' '03/06/14' '03/02/14' '05/24/11'
 '12/20/16' '10/03/12' '03/11/17' '01/02/16' '05/23/15' '02/07/13'
 '01/19/19' '02/03/16' '11/06/14' '09/16/16' '01/07/16' '09/23/15'
 '08/18/15' '05/05/15' '01/24/13' '09/06/12' '05/12/18' '03/17/17'
 '10/17/15' '05/26/15' '10/07/14' '11/10/12' '11/19/16' '05/21/16'
 '12/16/15' '11/13/15' '12/17/15' '03/04/14' '03/08/18' '03/10/16'
 '08/20/13' '07/14/18' '06/21/18' '03/27/16' '03/03/16' '05/28/15'
 '09/14/13' '01/16/19' '09/09/17' '07/22/17' '07/22/16' '05/05/16'
 '01/26/16' '12/08/18' '01/13/16' '01/25/12' '05/27/16' '05/24/16'
 '04/11/15' '11/09/16' '10/22/16' '02/27/16' '10/23/15' '06/05/14'
 '03/14/12' '01/28/15' '05/03/12' '11/16/16' '04/23/15' '04/17/15'
 '02/13/14' '02/02/17' '01/21/17' '06/06/14' '11/03/18' '04/26/17'
 '08/26/16' '03/03/15' '01/08/15' '01/09/14' '05/09/18' '08/07/14'
 '09/13/13' '11/29/18' '06/13/18' '05/12/15' '08/25/18' '04/05/13'
 '07/28/15' '01/23/15' '09/23/14' '06/27/14' '04/09/11' '01/13/12'
 '05/13/15' '03/31/15' '01/12/13' '07/27/18' '06/29/16' '09/12/13'
 '09/11/15' '01/08/14' '05/22/18' '07/05/14' '07/16/13' '02/16/17'
 '09/04/15' '06/20/12' '03/19/15' '02/07/14' '01/20/16' '07/18/18'
 '05/15/15' '03/18/15' '09/05/14' '04/29/14' '11/30/12' '02/28/17'
 '01/29/14' '01/27/15' '06/15/16' '01/16/18' '01/02/13' '05/14/14'
 '10/27/18' '01/05/13' '01/08/13' '01/04/13' '10/31/18' '07/14/15'
 '10/25/18' '08/17/17' '08/05/15' '08/23/17' '05/19/15' '06/20/14'
 '12/23/15']

Frequencies of unique values:
Expiration
12/26/14    25
07/11/13    25
06/06/13    19
08/30/13    18
07/26/13    15
            ..
05/24/16     1
04/11/15     1
11/09/16     1
10/22/16     1
02/27/16     1
Name: count, Length: 565, dtype: int64

-----------------------------------------------------------------------

----------- ANALYZING THE COLUMN: 'VARIETY' -----------

Unique values: [nan 'Other' 'Bourbon' 'Catimor' 'Ethiopian Yirgacheffe' 'Caturra' 'SL14'
 'Sumatra' 'SL34' 'Hawaiian Kona' 'Yellow Bourbon' 'SL28' 'Gesha' 'Catuai'
 'Pacamara' 'Typica' 'Sumatra Lintong' 'Mundo Novo' 'Java' 'Peaberry'
 'Pacas' 'Mandheling' 'Ruiru 11' 'Arusha' 'Ethiopian Heirlooms'
 'Moka Peaberry' 'Sulawesi' 'Blue Mountain' 'Marigojipe' 'Pache Comun']

Frequencies of unique values:
Variety
Caturra                  256
Bourbon                  226
Typica                   211
Other                    110
Catuai                    74
Hawaiian Kona             44
Yellow Bourbon            35
Mundo Novo                33
Catimor                   20
SL14                      17
SL28                      15
Pacas                     13
Gesha                     12
SL34                       8
Pacamara                   8
Arusha                     6
Peaberry                   5
Mandheling                 3
Sumatra                    3
Ethiopian Yirgacheffe      2
Java                       2
Blue Mountain              2
Ruiru 11                   2
Sumatra Lintong            1
Ethiopian Heirlooms        1
Moka Peaberry              1
Sulawesi                   1
Marigojipe                 1
Pache Comun                1
Name: count, dtype: int64

-----------------------------------------------------------------------

----------- ANALYZING THE COLUMN: 'COLOR' -----------

Unique values: ['Green' nan 'Bluish-Green' 'Blue-Green']

Frequencies of unique values:
Color
Green           870
Bluish-Green    114
Blue-Green       85
Name: count, dtype: int64

-----------------------------------------------------------------------

----------- ANALYZING THE COLUMN: 'PROCESSING.METHOD' -----------

Unique values: ['Washed / Wet' nan 'Natural / Dry' 'Pulped natural / honey'
 'Semi-washed / Semi-pulped' 'Other']

Frequencies of unique values:
Processing.Method
Washed / Wet                 815
Natural / Dry                258
Semi-washed / Semi-pulped     56
Other                         26
Pulped natural / honey        14
Name: count, dtype: int64

-----------------------------------------------------------------------

In [27]:
find_all_null_rows(df)

Rows with all null values:

-----------------------------------------------------------------------
Empty DataFrame
Columns: [Species, Continent.of.Origin, Country.of.Origin, Harvest.Year, Expiration, Variety, Color, Processing.Method, Aroma, Flavor, Aftertaste, Acidity, Body, Balance, Uniformity, Clean.Cup, Sweetness, Moisture, Quakers, Category.One.Defects, Category.Two.Defects]
Index: []
-----------------------------------------------------------------------

Indices of rows with all null values:
 []

In [28]:
find_negative_values(df)

Columns with negative values: []

In [29]:
find_zero_values(df)

Columns with zero values: ['Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Moisture', 'Quakers', 'Category.One.Defects', 'Category.Two.Defects']
-----------------------------------------------------------------------
Number of zero values in 'Aroma':
 1

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Flavor':
 1

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Aftertaste':
 1

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Acidity':
 1

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Body':
 1

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Balance':
 1

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Uniformity':
 1

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Clean.Cup':
 2

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Sweetness':
 1

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Moisture':
 264

The type of the value is: float64
-----------------------------------------------------------------------
Number of zero values in 'Quakers':
 1245

The type of the value is: int64
-----------------------------------------------------------------------
Number of zero values in 'Category.One.Defects':
 1137

The type of the value is: int64
-----------------------------------------------------------------------
Number of zero values in 'Category.Two.Defects':
 373

The type of the value is: int64
-----------------------------------------------------------------------